<!-- Page Title-->
<section id="page-title" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/banner/1.jpg);">
    <div class="title-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h1>Pagos</h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end title-info-->
</section>
<!--end page-title-->
<!-- Main Content -->
<section id="services">
    <div class="container">
        <!-- <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h1>Toda la financiación que necesitas</h1>
                </div>
            </div>
        </div> -->
        <div class="row">

          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/visa.png">
                  <h3>3 Y 6 CUOTAS SIN INTERÉS</h3>
                  <p>3 cuotas en Seguro Médico, 6 cuotas en vuelos de AeroMexico y hasta 12 cuotas fijas en todos los productos.</p>
              </div>
          </div>

          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/mastercard.png">
                  <h3>6 Y 12 CUOTAS SIN INTERÉS</h3>
                  <p>6 cuotas en vuelos de AeroMexico, 12 cuotas en vuelos de BritishAirways, GOL e Iberia y hasta 12 cuotas fijas en todos los productos.</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/americanexpress.png">
                  <h3>6 Y 12 CUOTAS SIN INTERÉS</h3>
                  <p>6 cuotas en vuelos de AeroMexico y Seguro Médico, 12 cuotas en vuelos de Gol y hasta 12 cuotas fijas en todos los productos.</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/cabal.png">
                  <h3>HASTA 12 CUOTAS SIN INTERÉS</h3>
                  <p>En pasajes aéreos de Aerolíneas Argentinas con tarjeta de crédito Cabal emitidas en Argentina</p>
              </div>
          </div>
          <!-- <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/diners.png">
                  <h3>12 cuotas en pesos</h3>
                  <p>En todos los productos con tarjetas Diners</p>
              </div>
          </div> -->

          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/todopago.png">
                  <h3>HASTA 12 CUOTAS FIJAS</h3>
                  <p>Podes hacer tu compra en 3, 6, 9 o 12 cuotas fijas con cualquier tarjeta de crédito.</p>
              </div>
          </div>
          <!-- <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/shopping.png">
                  <h3>6 cuotas en pesos</h3>
                  <p>En todos los productos con Tarjetas Shopping</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/cencosud.png">
                  <h3>Lorem ipsum dolor sit amet</h3>
                  <p>Lorem ipsum dolor sit amet</p>
              </div>
          </div> -->
          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/naranja.png">
                  <h3>6 Y 12 CUOTAS SIN INTERÉS CON PLAN Z</h3>
                  <p>6 cuotas en vuelos de GOL y 12 cuotas en vuelos de Aerolíneas Argentinas.</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/santanderrio.png">
                  <h3>HASTA 6 CUOTAS SIN INTERÉS</h3>
                  <p>6 cuotas en productos seleccionados.</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/mercadopago.jpg">
                  <h3>HASTA 12 CUOTAS SIN INTERÉS</h3>
                  <p>Promociones en hasta 12 cuotas sin interés (con cargo de gestión).</p>
              </div>
          </div>
          <div class="col-xs-6 col-md-4">
              <div class="service-list text-center wow fadeInUp tarjetas">
                  <img src="img/tarjetas/bbva.png">
                  <h3>12 CUOTAS SIN INTERÉS</h3>
                  <p>Hasta 12 cuotas sin interés en LATAM con VISA y MasterCard.</p>
              </div>
          </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/nacion.png">
                    <h3>12 CUOTAS SIN INTERÉS</h3>
                    <p>Hasta 12 cuotas sin interés en Aerolíneas Argentinas con VISA y MasterCard.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/bancoprovincia.png">
                    <h3>HASTA 12 CUOTAS SIN INTERÉS</h3>
                    <p>12 cuotas con Visa en paquetes nacionales y Aerolíneas Argentinas y 12 cuotas con MasterCard en Aerolíneas Argentinas.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/ciudad.png">
                    <h3>HASTA 12 CUOTAS SIN INTERÉS</h3>
                    <p>Hasta 12 cuotas sin interés con VISA en vuelos de LATAM y Aerolíneas Argentinas.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/hsbc.png">
                    <h3>HASTA 6 CUOTAS SIN INTERÉS</h3>
                    <p>6 cuotas con VISA, MasterCard y Amex en vuelos de EMIRATES.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/galicia.png">
                    <h3>HASTA 6 CUOTAS SIN INTERÉS</h3>
                    <p>6 cuotas en productos seleccionados.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/macro.png">
                    <h3>HASTA 10 CUOTAS SIN INTERÉS</h3>
                    <p>10 cuotas en productos seleccionados.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/hipotecario.png">
                    <h3>HASTA 6 CUOTAS SIN INTERÉS</h3>
                    <p>Hasta 6 cuotas sin interés en Aerolíneas Argentinas.</p>
                </div>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/icbc.png">
                    <h3>3 Y 6 CUOTAS SIN INTERÉS</h3>
                    <p>3 cuotas sin interés en Aerolíneas Argentinas con VISA y MasterCard y 6 cuotas sin interés en GOL con VISA y Mastercard.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/patagonia.png">
                    <h3>HASTA 12 CUOTAS SIN INTERÉS</h3>
                    <p>12 cuotas sin interés en vuelos de GOL con VISA, Mastercard y Amex.</p>
                </div>
            </div>


            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/credicoop.png">
                    <h3>HASTA 12 CUOTAS SIN INTERÉS</h3>
                    <p>Hasta 12 cuotas sin interés en vuelos de Aerolíneas Argentinas con MasterCard y CABAL.</p>
                </div>
            </div>
            <!-- <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/industrial.png">
                    <h3>6 cuotas en pesos</h3>
                    <p>En todos los productos con las tarjetas de crédito Visa y Mastercard del Banco Insdustrial</p>
                </div>
            </div> -->
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/supervielle.png">
                    <h3>HASTA 12 CUOTAS SIN INTERÉS</h3>
                    <p>12 cuotas sin interés en vuelos de American Airlines y Aerolíneas Argentinas con tarjetas VISA y MasterCard y 12 cuotas en vuelos de LATAM con VISA.</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/comafi.png">
                    <h3>HASTA 9 CUOTAS SIN INTERÉS</h3>
                    <p>Hasta 9 cuotas en vuelos de GOL con VISA y MasterCard y 3 cuotas en vuelos de LATAM y Aerolíneas Argentinas.</p>
                </div>
            </div>
            <!-- <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/lapampa.png">
                    <h3>3, 6 y 12 cuotas en pesos</h3>
                    <p>Volando con Aerolíneas Argentinas con tarjetas de crédito Visa y Mastercard del Banco de La Pampa</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="service-list text-center wow fadeInUp tarjetas">
                    <img src="img/tarjetas/entrerios.png">
                    <h3>6 cuotas en pesos</h3>
                    <p>En todos los productos con tarjetas de crédito Visa y Mastercard del Banco de Entre Ríos</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
