<!-- Page Title-->
<section id="page-title" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/banner/1.jpg);">
    <div class="title-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h1>{{info.title}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end title-info-->
</section>
<!--end page-title-->
<!-- Main Content -->
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="content-block">
                    <div class="single_post blog-content">
                        <a class="back-link" ng-href="blog"><i class="fa fa-angle-left" aria-hidden="true"></i>Atrás</a>
                        <div class="post_thumb" ng-if="!!info.front.source">
                            <img src="{{url_uploads+'/'+info.front.source}}" alt="{{info.title}}" />
                        </div><!--end post thumb-->
                        <div class="meta" ng-if="!!info.createdAt">
                            <span class="date">Creado: {{info.createdAt| date: 'd/MM/yyyy'}}</span>
                        </div><!--end meta-->

                        <h2>{{info.title}}</h2>

                        <div class="post_desc" ng-if="!!info.description">
                            <p>{{info.description}}</p>
                        </div>
                        <div class="post_desc" ng-if="!!info.body" ng-bind-html="getHtml(info.body)"></div>
                        <!--end post desc-->

                        <div class="row post_gallery" ng-if="!!info.images && info.images.length > 0">
                            <div class="col-xs-4" ng-repeat="image in info.images">
                                <a rel="imagen" class="fancybox" href="{{url_uploads+'/'+image.source}}">
                                    <img src="{{url_uploads+'/'+image.source}}" alt="{{info.title}}. Imagen {{$index}}" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end main-content-->
